.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
        margin: 0.5rem;
    }
}

.animations-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0.6rem;
    padding: 0.6rem;
    border: 3px solid rgba(50, 50, 50, 0.800);

    .menu {
        display: flex;

        li {
            display: flex;
            cursor: pointer;
            margin: 1rem 0.5rem;
            padding: 0.6rem;
            justify-self: center;
            align-self: center;
            border-radius: 8px;
            transition: all 0.4s;
            border: 3px solid rgba(50, 50, 50, 0.800);
        }

        li:hover {
            border-radius: 4px;
            box-shadow: 4px 4px 2px rgb(51, 51, 51);
            margin: 0px 1rem 1rem 0px;
        }
    }

    .activated {
        position: relative;
        display: flex;
        align-items: center;
        border: 3px solid red !important;
    }
}

.charts-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 0.4rem;
    border: 3px solid rgba(50, 50, 50, 0.800);

    .menu {
        display: flex;

        a {
            display: flex;
            cursor: pointer;
            text-decoration: none;
            margin: 1rem 0.5rem;
            padding: 0.8rem;
            justify-self: center;
            align-self: center;
            border-radius: 8px;
            transition: all 0.4s;
            border: 3px solid rgba(50, 50, 50, 0.800);
        }

        a:hover {
            border-radius: 4px;
            box-shadow: 4px 4px 2px rgb(51, 51, 51);
            margin: 0px 1rem 1rem 0px;
        }
    }
}